*{
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.gameboard-container {
    /* border:5px solid rgb(255, 0, 0); */
    display: flex;
    flex-wrap: wrap;
    width:50%;
    margin: auto;
    position: relative;
    top:1rem;
   
}




.block {
    border:5px solid rgb(0, 0, 0);
    height:8.2rem; 
    flex: 0 0 33.3333%;
   
}


#b-1 {
   border-left: none;
   border-top: none;
   cursor: pointer;
}

#b-1 p {
   font-size: 120px;
   position:relative;
   top:-5rem;
}


#b-2 {

    border-top: none;
    cursor: pointer;
 }

 #b-2 p {
   font-size: 120px;
   position:relative;
   top:-5rem;
   
   
}

 
 #b-3 {
    border-top: none;
    border-right:none ;
    cursor: pointer;
 }

 #b-3  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
}

 
 
 #b-4 {
    border-left: none;
    cursor: pointer;
 }

 #b-4  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
}


 #b-5 {
   cursor:pointer
 }
 #b-5  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
   cursor: pointer;
}

 #b-6 {
    border-right: none;
    cursor: pointer;
 }

 #b-6  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
}


 #b-7 {
    border-left: none;
    border-bottom: none;
    cursor: pointer;
 }

 #b-7  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
}

 
 #b-8 {
    border-bottom: none;
    cursor: pointer;
 }
 #b-8  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
   cursor: pointer;
}

 #b-9 {
    border-right: none;
    cursor: pointer;
    border-bottom: none;
 }
 
 #b-9  p{
   font-size: 120px;
   position:relative;
   top:-5rem;
}


h1 {
   position:relative;
   top:1rem;
   font-size: 2rem;

}

#x-points{
    position:absolute;
    top:5rem;
    left:5rem;

}

#o-points{
   position:absolute;
   top:5rem;
   left:62rem;
   
}



#x-points  {
   font-size: 32px;
}

#o-points  {
   font-size: 32px;
}



#x-header {
   position:absolute;
   top:3rem;
   left:2.9rem;

}


#o-header {
   position: absolute;
   right:4rem;
   top:3rem;
}

.gameboard-container div.block:hover {
   background-color: rgb(202, 202, 202);
}

button {
 cursor: pointer;
}